.ipynb_checkpoints
*/.ipynb_checkpoints/*

.bash_history
*/.bash_history

.DS_Store
*/.DS_Store

*/data/*
*/.kaggle/*

# for samples_python
samples_python/graph.pdf

# for samples_deeplearning_python
samples_deeplearning_python/mnist-original.mat
samples_deeplearning_python/mldata
samples_deeplearning_python/result

# for kaggle_dataset_flower_color_images
kaggle_dataset_flower_color_images/result

# for kaggle_compe_rsna_pneumonia_detection_challenge
kaggle_compe_rsna_pneumonia_detection_challenge/result

# for pilotnet_visualbackprop
pilotnet_visualbackprop/result_pilotnet

# for zerokara_deeplearning
zerokara_deeplearning/mnist-original.mat

# for e-stat
e-stat/.appid
